<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

    <!-- Navbar -->
    <nav class="bg-blue-900 p-4 shadow-md">
      <div class="max-w-screen-xl px-16 mx-auto flex justify-between items-center">
        <h1 class="text-white text-2xl font-semibold"><a href="/dashboard" class="text-white">SiteForge</a></h1>
        <div class="flex space-x-4">
          <a href="/profile" class="text-white text-sm bg-gray-400 duration-300 ease-in-out hover:bg-blue-500 px-4 py-2 rounded">Profile</a>
          <a href="/" class="text-white  text-sm bg-gray-400 duration-300 ease-in-out hover:bg-blue-500 px-4 py-2 rounded">Build Page</a>
          <a href="/ai/page" class="text-white  text-sm bg-gray-400 duration-300 ease-in-out hover:bg-blue-500 px-4 py-2 rounded">Generate Page</a>
          <% if (user && user.role !== 'user') { %>  
            <a href="/admin" class="text-white text-sm  bg-gray-400 duration-300 ease-in-out hover:bg-blue-500 px-4 py-2 rounded">Admin</a>
            <a href="/contacts" class="text-white text-sm  bg-gray-400 duration-300 ease-in-out hover:bg-blue-500 px-4 py-2 rounded">Queries</a>
          <% } %>
          <a href="/contact" class="text-white  text-sm bg-gray-400 duration-300 ease-in-out hover:bg-blue-500 px-4 py-2 rounded">Contact Us</a>
          <a href="/logout" class="text-white text-sm  bg-gray-400 duration-300 ease-in-out hover:bg-blue-500 px-4 py-2 rounded">Logout</a>
        </div>
      </div>
    </nav>

  <!-- Contact Form Section -->
  <section class="max-w-screen-xl px-16 mx-auto py-12 mb-20">
    <div class="bg-white shadow-md rounded-lg p-8">
      <h1 class="text-2xl font-semibold mb-4">Contact Queries</h1>
      <table class="w-full border-collapse">
        <thead>
          <tr class="bg-blue-800 text-white">
            <th class="border p-2">SNO</th>
            <th class="border p-2">Name</th>
            <th class="border p-2">Email</th>
            <th class="border p-2">Message</th>
            <th class="border p-2">Date</th>
          </tr>
        </thead>
        <tbody>
          <% contacts.forEach((contact, k) => { %>
            <tr class="border bg-gray-100 text-black">
              <td class="p-2"><%= ++k %></td>
              <td class="p-2"><%= contact.name %></td>
              <td class="p-2"><%= contact.email %></td>
              <td class="p-2"><%= contact.message %></td>
              <td class="p-2"><%= new Date(contact.created_at).toLocaleString() %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </section>

  <footer class="bg-blue-900 p-4 shadow-md text-center text-white fixed bottom-0 w-full mt-28">
    &#169; SiteForge
</footer>
</body>
</html>
